<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyline Technology Group</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="site">

    <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" />
    <header class="site-header">
        <div class="wrapper">


            <label for="main-nav-toggle" id="toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
                Menu
            </label>
    <nav class="navigation main">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery/">Gallery</a></li>
            <li><a href="/faq/">Faq</a></li>
            <li><a href="/about/">About us</a></li>
            <li><a href="/contacts/">Contacts</a></li>
        </ul>

    </nav>
</div>


{{content}}
</body>
</html>